#backend files

backend/node_modules
frontend/node_modules

# production
backend/build
frontend/build

# misc
backend/.DS_Store
frontend/.DS_Store
*/.env.local
frontend/.env.development.local
frontend/.env.test.local
backend/.env.production.local
frontend/.env.production.local

/npm-debug.log*
*/yarn-debug.log*
backend/yarn-error.log*
frontend/yarn-error.log*
*/package-lock.json

