#backend files

node_modules
frontend/node_modules

# production
build
frontend/build

# misc
.DS_Store
frontend/.DS_Store
.env
frontend/.env.development.local
frontend/.env.test.local
.env.production.local
frontend/.env.production.local

/npm-debug.log*
*/yarn-debug.log*
yarn-error.log*
frontend/yarn-error.log*
*/package-lock.json

// exclude server.js
server.js

